* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'norsebold';
    src: url('./assets/fonts/norse-bold-webfont.woff2') format('woff2'),
         url('./assets/fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    height: 100vh;
}

main {
    display: flex;
    height: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    flex: 5;
}

.background-image {
    display: flex;
    flex-direction: column;
    flex: 2;
    background: url("./assets/images/christopher-le-unsplash-raccoon.jpg");
    background-size: cover;
}

.background-image > footer {
    text-align: center;
    flex: 0;
}

.logo-container {
    align-items: center;
    flex: 1;
    display: flex;
    margin-bottom: 40%;
}

.logo > img {
    width: 6rem;
    height: 6rem;
    margin-right: 1rem;
}

.logo > p {
    font-family: 'norsebold', sans-serif;
    color: white;
    font-size: 4rem;
    font-weight: bold;
}

.logo {
    padding: 1rem 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

footer {
    color: #fff;
    font-size: 0.75rem;
}

footer > p > a {
    color: white;
}

.description {
    padding: 10% 10% 5% 5%;
    flex: 1;
}

.form {
    padding: 3% 0 3% 5%;
    flex: 1;

}

fieldset {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

input {
    width: 16rem;
}

.button-container {
    padding: 3% 0 0 5%;
    flex: 1;
}

button {
    padding: 0.5rem 3rem;
    border-radius: 8px;
    background-color: #596D48;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    box-shadow: 2px 3px 3px black;
}

button:hover {
    border: solid #fff 2px;
}

.button-container > p {
    padding-top: 2%;
}
