* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'norsebold';
    src: url('./assets/fonts/norse-bold-webfont.woff2') format('woff2'),
         url('./assets/fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'roboto';
    src: url('./assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto';
    src: url('./assets/fonts/roboto-italic-webfont.woff2') format('woff2'),
         url('./assets/fonts/roboto-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

body {
    height: 100vh;
    font-family: 'roboto', Helvetica, sans-serif;
}

main {
    display: flex;
    height: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    flex: 5;
}

.background-image {
    display: flex;
    flex-direction: column;
    flex: 2;
    background: url("./assets/images/christopher-le-unsplash-raccoon.jpg");
    background-size: cover;
}

.background-image > footer {
    text-align: center;
    flex: 0;
}

.logo-container {
    align-items: center;
    flex: 1;
    display: flex;
    margin-bottom: 40%;
}

.logo > img {
    width: 6rem;
    height: 6rem;
    margin-right: 1rem;
}

.logo > p {
    font-family: 'norsebold', Helvetica, sans-serif;
    color: white;
    font-size: 4rem;
    font-weight: bold;
}

.logo {
    padding: 1rem 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

footer {
    color: #fff;
    font-size: 0.75rem;
}

footer > p > a {
    color: white;
}

.description {
    padding: 5% 10% 5% 5%;
    flex: 1;
    font-size: 2rem;
    background-color: rgba(184, 173, 173, 0.242);
}

.description > p + p + p {
    margin-top: 2rem;
}

.form {
    padding: 1% 0 3% 5%;
    flex: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 3px rgba(186, 182, 182, 0.729);
}

.form > p {
    font-size: 2rem;
    margin-bottom: 1rem;
}
#registration {
    flex: 1;
    display: flex;
    flex-direction: column;
}

form {
    color: rgb(45, 52, 59)
}

label {
    display: block;
    letter-spacing: .1rem;
}

fieldset {
    flex: 1;
    display: flex;
    gap: 5rem;
    border: none;
}

form > :nth-child(2) {
    margin: 1rem 0;
}

input {
    width: 18rem;
    height: 2rem;
    padding-left: 0.7rem;
    border: solid 0.1rem rgb(213, 221, 232);
    border-radius: 0.5rem;
}

input:hover {
    background: rgba(89, 109, 72, 0.2);
}

input:focus-visible {
    outline: solid 0.2rem #596D48;
    box-shadow: 3px 3px 3px rgb(113, 130, 128);
}

span.error {
    position: relative;
}

span.error::after {
    position: absolute;
    font-size: 0.8rem;
    content: "* Passwords do not match";
    color: rgb(200, 20, 20);
    top: 2rem;
    right: 9rem;
    white-space: nowrap;
}

#pwd.error, #confirm_pwd.error {
    border: solid 2px rgb(200, 20, 20);
}

.hide {
    display: none;
}

.button-container {
    padding: 3% 0 0 5%;
    flex: 1;
    background-color: rgba(184, 173, 173, 0.242);
}

button {
    padding: 0.5rem 3rem;
    border-radius: 8px;
    background-color: #596D48;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    box-shadow: 2px 3px 3px black;
    cursor: pointer;
}

button:hover {
    background-color: #6d8757;
}

button:focus {
    padding: 0.4rem 2.9rem;
}

.button-container > p {
    padding-top: 2%;
}

.button-container > p > a {
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}
